[Unit]
Description=Lorri Daemon
Requires=lorri.socket
After=lorri.socket

[Service]
ExecStart=%h/.nix-profile/bin/lorri daemon
PrivateTmp=true
ProtectSystem=strict
ProtectHome=read-only
Restart=on-failure
Environment=PATH=%h/.nix-profile/bin:/usr/local/bin:/usr/bin
Environment=NIX_PATH=%h/.nix-defexpr/channels
