[Unit]
Description=Waybar config reloader

[Service]
ExecStart=/home/alex/scripts/restart_waybar.sh
Type=simple

[Install]
WantedBy=multi-user.target
