[user]
    name = Alexander Grooff
    email = alexandergrooff@gmail.com
[core]
    whitespace = fix,-indent-with-non-tab,trailing-space,cr-at-eol
    excludesfile = ~/.gitignore_global
    autocrlf = false
[color]
    ui = auto
    diff = auto
    branch = auto
    status = auto
[pull]
    rebase = false
[push]
    default = current
[alias]
    upstream-name = !git remote | egrep -o '(upstream|origin)' | tail -1
    head-branch = !git remote show $(git upstream-name) | awk '/HEAD branch/ {print $NF}'
