[user]
    name = {{ .name }}
{{- if eq .chezmoi.os "darwin" }}
    email = alexander.grooff@adyen.com
{{- else }}
    email = alexandergrooff@gmail.com
{{- end }}
[core]
    whitespace = fix,-indent-with-non-tab,trailing-space,cr-at-eol
    excludesfile = ~/.gitignore_global
    autocrlf = false
{{- if eq .chezmoi.os "darwin" }}
    editor = hx
{{- end }}
[color]
    ui = auto
    diff = auto
    branch = auto
    status = auto
[pull]
    rebase = false
[push]
    default = current
    autoSetupRemote = true
[fetch]
    prune = true
[alias]
    upstream-name = !git remote | grep -Eo '(upstream|origin)' | tail -1
    head-branch = !git remote show $(git upstream-name) | awk '/HEAD branch/ {print $NF}'
[init]
{{- if eq .chezmoi.os "darwin" }}
    defaultBranch = main
{{- else }}
    defaultBranch = master
{{- end }}
[tag]
    sort = version:refname
[diff]
    colorMoved = plain
    renames = true
[branch]
{{- if eq .chezmoi.os "darwin" }}
[credential]
    helper = store
[safe]
    directory = *
{{- end }}
