#!/usr/bin/env bash
# Run once: install Nix package manager (Linux only)
set -e

{{- if ne .chezmoi.os "linux" }}
function install_nix() {
  sudo rm -rf /etc/nix
  curl --proto '=https' --tlsv1.2 -sSf -L https://install.determinate.systems/nix | sh -s -- install
  sudo rm -rf /etc/nix/nix.conf
  sudo mkdir -p /etc/nix
  sudo ln -s /home/alex/.config/nix/nix.conf /etc/nix/nix.conf
}

if [ ! -e /nix ]; then
  echo "Nix not found, starting installation..."
  install_nix
  exit 0
fi

if [ -e /nix/receipt.json ]; then
  echo "Found existing zero-to-nix installation, nothing to do..."
  exit 0
fi

echo "Old installation found, purging and reinstalling..."
sudo rm -rf /nix || /bin/true
sudo rm -rf /etc/nix || /bin/true
sudo groupdel nixbld || /bin/true
sudo mkdir /etc/nix
install_nix
{{- else }}
echo "Nix installation skipped on non-Linux system"
{{- end }}
