[Unit]
Description=Background changer with feh

[Service]
ExecStart=/bin/su alex -c "/usr/bin/feh -z -r /home/alex/wallpapers --bg-scale --no-fehbg"
Type=oneshot

[Install]
WantedBy=multi-user.target
