[Unit]
Description=Background changer with feh

[Service]
ExecStart=/bin/su alex -c "/usr/bin/feh -z -r --bg-scale /home/alex/wallpapers"
Type=oneshot

[Install]
WantedBy=multi-user.target
