[Unit]
Description=Start compton

[Service]
ExecStart=/bin/su alex -c "/usr/bin/compton -b --dbus -d :0"
Type=oneshot

[Install]
WantedBy=multi-user.target
