[Unit]
Description=Start compton

[Service]
Environment=DISPLAY=:0
ExecStart=/usr/bin/compton -b -d :0
Type=oneshot
User=alex

[Install]
WantedBy=multi-user.target
